@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  div.top_border {
    display: block;
    height: 1px;
    border: 1px solid #b1a296;
    position: relative;
    top: 60px;
    opacity: 60%;
  }
 
  body {
    background: rgb(138,161,177);
    background: linear-gradient(4deg, rgba(138,161,177,1) 0%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    
  }

  h1 {
    font-size: 25px;
    line-height: 54px;
    margin-left: 550px;
  }

  h2 {
    color: #5d5c61;
    font-size: 45px;
    position: absolute; 
    left: 30px;
    top: 20px
  }


  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    position: absolute;
    top: 580px;
    left: 30px;
  }

  .enter {
    text-align: center;
    position: relative;
  }

  a {
    text-decoration: none;
    color: #5d5c61;
  }

  a.home {
    color: #333;
    position: relative; 
    top: 20px;
    left: 1100px;
    font-size: 24px;
    text-decoration: none;
    width: 50px;
  }

  a#home2 {
    left: 1160px;
  }

  a.home:hover {
    color: #dbd8e7;
    border-radius: 25px;
  }


  .user_home {
    color: white;
    font-size: 24px;
    line-height: 30px;
  }

  a.user_home:hover {
    color: #dbd8e7;
  }

    /* --- Register/Login Page Styles --- */

  form {
    margin-left: 550px;
    margin-top: 150px;
    line-height: 3;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
  }

  form label {
    margin-left: 50px;
  }

  label[for=email] {
    
    margin-left: 65px;
  }

  input[type=text] {
    display: block;
  }

  input[type=password] {
    display: block;
  }

  input[type=submit] {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #333;
    border: none;
    width: 8.8em;
    margin-top: 20px;
  }

  input[type=submit]:hover {
    background-color: rgb(160, 158, 158);
  }

  nav {
    color: #333;
    font-size: 23px;
    position: relative;
    top: 100px;
    margin-left: 20px;
    line-height: 1.5;
  }

  nav a {
   position: relative;
   top: -90px;
   margin-left: 1160px;
  }

  nav a.login {
    position: absolute;
    margin-bottom: 110px;
    left: 100px
  }

  nav a#logout {
    position: relative;
    top: -170px;
    margin-left: 1240px;
    font-size: 23px;
  }

  nav a:hover {
    color: rgb(179, 116, 116);
  }

  nav a#logout:hover {
    color: rgb(179, 116, 116);
  }

  /* --- User Home Page Styles --- */

  form#new_log {
    position: relative;
    margin-top: 5px;
    line-height: 3;
  }

  label[for=date] {
    
    margin-left: -5px;
  }

  ul {
    position: relative;
    margin-left: 500px;
  }

}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }






}
