<h1>new log form</h1>
<form action='/logs' method='POST'>

    <p>
        <label for="title">title</label>
        <input type="text" name="title" id="title" />
    </p>

    <input type="submit" value="Submit" />

</form>