<h1>new log form</h1>
<form action='/logs' method='POST'>

    <p>
        <label for="content">content</label>
        <input type="text name="content" id="content" />
    </p>

    <input type="submit" value="Submit" />

</form>