<h1>new log form</h1>
<form action='/logs' method='POST'>

    <p>
        <label for="title">title</label>
        <input type="text" name="title" id="title" />
    </p>

    <p>
        <label for="description">description</label>
        <input type="text" name="description" id="description" />
    </p>

    <p>
        <label for="link">link</label>
        <input type="text" name="link" id="link" />
    </p>

    <p>
        <label for="date">date</label>
        <input type="date" name="date" id="date" />
    </p>

    <input type="submit" value="Submit" />

</form>