<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>OsoArmy</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div>
      <div class="container">
        <%= "<div class='notice'>#{flash[:notice]}</div>" if
            flash[:notice] %>

          <div class="col-md-8 col-md-offset-2">
            <h2><a href="/">osoarmy</a></h2>
            <div class="top_border">
            </div>
          </div>

          <nav>
            <% if logged_in? %>
             Welcome <%= current_user.email %>
             
              <a href="/logs">my logs</a>
              <a href="/logs/new">new log</a>
              <a href="/logout" id="logout">logout</a>
              <% else %>
              <a href="/register">register</a>
              <a href="/login">login</a>
              <%end%>
          </nav>


        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>OsoArmy</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
